{% extends 'panel/template.html' %}
{% load static %}
{% block head %}
<title>Add Funding Activity</title>
<link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
{% endblock %}

{% block sidebar %}
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'books' %}"><i class="fa fa-book"></i><span>Books</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'bookings' %}"><i class="fa fa-dollar"></i><span>Bookings</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'view_profile' %}"><i class="fa fa-book"></i><span>Profile</span></a></li> {% endcomment %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'wallet_view' %}"><i class="fa fa-book"></i><span>Wallet</span></a></li>
                </ul>
{% endblock %}


{% block content %}
                <div class="container-fluid">
                    <h3 class="text-dark mb-1" style="font-weight: bold;color: var(--bs-gray);margin-top: 20PX;">ADD DEAL</h3>
                </div><!-- Start: Login Form Clean -->
                <section class="login-clean">
                    <form method="post" style="border-radius: 35px;border: 2px solid black;width: 550px;max-width: 550px;">
                        {% csrf_token %}
                        <h2 class="visually-hidden">Deal Form</h2>
                        <h2>Activity Details</h2><br/>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Product Image</label>
                            <input required class="form-control" type="file" name="image" accept="image/*" id="formFile">
                        </div><br/>
                        <div class="mb-3">
                            <label for="formProofFile" class="form-label">Proof Document</label>
                            <input required class="form-control" type="file" name="proofdoc" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                            text/plain, application/pdf, image/*" id="formProofFile">
                        </div>
                        <input required class="form-control" type="text" name="title" placeholder="Title" style="padding: 5px;"><br/>
                        <textarea required class="form-control" name="description" placeholder="Description" style="padding: 5px;"></textarea>
                        <input required class="form-control" type="number" name="amount" placeholder="Amount" style="padding: 5px;margin-top: 10px;">
                        <select required class="form-control" name="category" placeholder="Category" style="padding: 5px;margin-top: 10px;">
                            <option disabled selected>Select Category</option>
                            {% for cat in categories %}
                                <option value = "{{cat.name}}">{{cat.name}}</option>
                            {% endfor %}
                        </select><br/>
                        <div class="mb-3">
                            <label for="deadline" class="form-label">Deadline</label>
                            <input required class="form-control" type="datetime-local" placeholder="Deadline" id="deadline" name="deadline" style="padding: 5px;margin-top: 10px;">
                        </div>
                        <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background: black;border-radius: 7px;">ADD ACTIVITY</button></div>
                    </form>
                </section><!-- End: Login Form Clean -->

{% endblock %}
