{% extends 'panel/template.html' %}
{% load static %}
{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block sidebar %}
    <ul class="navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'deals' %}"><i class="fas fa-shopping-cart"></i><span>Deals</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'funding_activities' %}"><i class="fas fa-hand-holding-usd"></i><span>Funding Activities</span></a></li>
        {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'books' %}"><i class="fa fa-book"></i><span>Books</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'bookings' %}"><i class="fa fa-dollar"></i><span>Bookings</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'view_profile' %}"><i class="fa fa-book"></i><span>Profile</span></a></li>{% endcomment %}
        <li class="nav-item"><a class="nav-link" href="{% url 'wallet_view' %}"><i class="fa fa-book"></i><span>Wallet</span></a></li>
    </ul>
{% endblock %}


{% block content %}

    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0"><b>Dashboard</b></h3>
        </div>
        <div class="column">
            <div class="card shadow border-start-warning py-2" style="padding: 20px;">
                <br/>
                <h3 style="font-weight:bold">Your Deals</h3><br/>
                <a href="{% url 'add_deal' %}" style="width: max-content;"><button type="button" style="background-color: black; color: white; padding: 10px; font-weight: bold; border-color: black; border-radius: 5px;">+ New Deal</button></a>
                <br/>
                {% if deals %}
                    <div class="row">
                        {% for deal in deals %}
                            <div class = "col-sm-6">
                                <div class = "card" style="width: min-content">
                                    <img class="card-img-top" src="{{deal.image.url}}" alt="No Image"  style="width: 500px; height: 300px;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{deal.title}}</h5>
                                        <p class="card-text">
                                            <b>{{deal.poster.first_name}} {{deal.poster.last_name}}</b><br/>
                                            <div class="row">
                                                <span><del>$ {{deal.initial_price}}</del>
                                                <p style="font-weight: bold; color: green;">$ {{deal.bid_price}}</p></span>
                                            </div>
                                        </p>
                                        <a href="/view_deal/{{deal.id}}" class="btn btn-primary">View More</a>
                                    </div>
                                    <div class="card-footer text-muted">
                                        {{deal.deadline}}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="warningbox">No activities to show :(</p>
                {% endif %}
            </div>
            <br/><br/>
            <div class="card shadow border-start-warning py-2" style="padding: 20px;">
                <br/>
                <h3 style="font-weight:bold;">Your Funding Activities</h3><br/>
                <a href="{% url 'add_activity' %}" style="width: max-content;"><button type="button" style="background-color: black; color: white; padding: 10px; font-weight: bold; border-color: black; border-radius: 5px;">+ New Funding Activity</button></a>
                <br/>
                {% if activities %}
                    <div class="row">
                        {% for activity in activities %}
                            <div class = "col-sm-6">
                                <div class = "card" style="width: min-content">
                                    <img class="card-img-top" src="{{activity.image.url}}" alt="{{activity.category}}" style="width: 500px; height: 300px;">
                                    <div class="card-body">
                                        <h5 class="card-title"><b>{{activity.title}}</b></h5>
                                        <p class="card-text">{{activity.description|truncatewords:30}}<br/><br/><b style="font-size: 20px;">$ {{activity.amount}}</b></p>
                                        <a href="/view_activity/{{activity.id}}" class="btn btn-primary">View More</a>
                                    </div>
                                    <div class="card-footer text-muted">
                                        {{activity.deadline}}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="warningbox">No activities to show :(</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
