{% extends 'panel/template.html' %}
{% load static %}
{% block head %}
    <title>{{activity.title}}</title>
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
{% endblock head %}

{% block sidebar %}
    <ul class="navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'deals' %}"><i class="fas fa-shopping-cart"></i><span>Deals</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'funding_activities' %}"><i class="fas fa-hand-holding-usd"></i><span>Funding Activities</span></a></li>
        {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'books' %}"><i class="fa fa-book"></i><span>Books</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'bookings' %}"><i class="fa fa-dollar"></i><span>Bookings</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'view_profile' %}"><i class="fa fa-book"></i><span>Profile</span></a></li> {% endcomment %}
        <li class="nav-item"><a class="nav-link" href="{% url 'wallet_view' %}"><i class="fa fa-book"></i><span>Wallet</span></a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4" style="font-weight: bold;">{{activity.title}}</h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold" style="font-weight: bold; text-transform: uppercase; font-size: 20px;">Activity Info</p>
            </div>
            <div class="card-body">
                <div class="card">
                    <img class="card-img-top" src="{{activity.image.url}}" alt="No Image"  style="width: 100%%; height: 40rem;">
                    <div class="card-body">
                        <br/>
                        <p style="font-weight: bold; font-size: 20px;">{{activity.description}}</p>
                        <hr style="color: rgb(38,38,40);background: grey;border-width: 4px;margin-top: 50px;"><br/>
                        <p style="font-size: 20px;">We need this money before <font color="red"><b>{{activity.deadline}}</b></font></p>
                        <hr style="color: rgb(38,38,40);background: grey;border-width: 4px;margin-top: 50px;"><br/>
                        <div class="card">
                            <div class="card-body"><br/>
                                <h2 style="font-weight: bold">Donation</h2><br/>
                                <div class="progress progress-bar-striped" style="height: 50px; background: red;">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percentage}}"></div>
                                </div><br/>
                                <p style="font-size: 20px; font-weight: bold;">We are <font color="red">${{remaining}}</font> away from our goal</p>
                                <form method="POST">
                                    {% csrf_token %}
                                    {% if poster %}
                                        <br/>
                                        <h3><b>Edit Activity Details</b></h3><br/>
                                        <form method="post" style="border-radius: 35px;border: 2px solid black;width: 550px;max-width: 550px;" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="formFile" class="form-label">Product Image</label>
                                                <input required class="form-control" type="file" name="image" accept="image/*" id="formFile" value={{activity.image.url}}>
                                            </div><br/>
                                            <div class="mb-3">
                                                <label for="formProofFile" class="form-label">Proof Document</label>
                                                <input required class="form-control" type="file" name="proofdoc" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                                                text/plain, application/pdf, image/*" id="formProofFile" value={{activity.proof}}>
                                            </div>
                                            <input required class="form-control" type="text" name="title" placeholder="Title" style="padding: 5px;" value={{activity.title}}><br/>
                                            <textarea required class="form-control" name="description" placeholder="Description" style="padding: 5px;">{{activity.description}}</textarea>
                                            <input required class="form-control" type="number" name="amount" placeholder="Amount" style="padding: 5px;margin-top: 10px;" value={{activity.amount}}>
                                            <select required class="form-control" name="category" placeholder="Category" style="padding: 5px;margin-top: 10px;">
                                                <option disabled selected>Select Category</option>
                                                {% for cat in categories %}
                                                    <option value = "{{cat.name}}">{{cat.name}}</option>
                                                {% endfor %}
                                            </select><br/>
                                            <div class="mb-3">
                                                <label for="deadline" class="form-label">Deadline</label>
                                                <input required class="form-control" type="datetime-local" placeholder="Deadline" id="deadline" name="deadline" style="padding: 5px;margin-top: 10px;" value={{activity.deadline}}>
                                            </div>
                                            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background: black;border-radius: 7px; font-weight: bold; height: 60px;">SAVE CHANGES</button></div>
                                        </form>
                                    {% else %}
                                        <div class="input-group">
                                            <input class="form-control" type="number" name="donation_amount_field" placeholder="Enter your donation amount here (eg. 10000.00)">
                                            <button type="submit" style="background-color: black; color: white; padding: 10px; font-weight: bold; border-color: black; border-radius: 5px;" class = "form-control">Donate</button>
                                        </div>
                                    {% endif %}
                                </form>
                                <br/>
                                <form method="post">
                                    {% csrf_token %}
                                    <input value="true" name="close_activity" hidden>
                                    <button type="submit" style="background-color: red; color: white; border-color: red; padding: 10px; font-weight: bold; border-radius: 5px;" class = "form-control">Mark as failed and close activity</button>
                                </form>
                                <br/>
                                {% if success %}
                                    <p class="successbox" style="font-weight: bold;">Successfully donated :) You have made this world a better place</p>
                                {% endif %}
                                {% if error %}
                                    <p class="errorbox" style="font-weight: bold;">Error :( {{error}}</p>
                                {% endif %}
                                {% if warning %}
                                    <p class="warningbox" style="font-weight: bold;">{{warning}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
